*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'Raleway', 'Arial', sans-serif;
}

.container {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}

.huge-container {
    max-width: 1600px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
button{
    padding: 15px 40px;
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    box-shadow: 0px 10px 20px 0px #FF7A0033;
    color: #fff;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
}
button:hover{
    background: linear-gradient(89.77deg, #DD6A00 0.2%, #F99806 99.82%);
    box-shadow: 0px 10px 20px 0px #FF7A0033;
    box-shadow: 0px 4px 20px 0px #0000001A inset;
}
button:active{
    background: linear-gradient(89.77deg, #DD6A00 0.2%, #F99806 99.82%);
    box-shadow: 0px 10px 20px 0px #FF7A0033;
    box-shadow: 0px 7px 5px 0px #00000033 inset;
}