.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(62, 62, 62);
    opacity: 0.5;

}
.no__overlay {
    display: none;
}
#modal--form{
    display: none;
}
.modal {
    position: fixed;
    padding: 30px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    z-index: 1001;
    width: 400px;
    height: 400px;
    left: 0;
    right: 0;
    top: 200px;
    bottom: 0;
    .modal__top {
        display: flex;
        justify-content: end;
    }
    .modal--h3 {
        color: #2B7AF1;
        margin-top: 10px;
        font-size: 32px;
        font-family: "Montserrat 600";
        text-align: center;
    }

    .modal--p {
        color: #a3a3a3;
        margin-top: 10px;
        font-size: 14px;
        font-family: "Montserrat 600";
        text-align: center;
    }

    .modal--form {
        margin-top: 40px;
        text-align: center;

        #name {
            width: 90%;
            height: 38px;
            padding: 10px;
            border-radius: 10px;
            color: #a3a3a3;
            font-size: 16px;
            font-family: "Montserrat 400";
            margin-bottom: 20px;
        }

        #number {
            width: 90%;
            height: 38px;
            padding: 10px;
            border-radius: 10px;
            color: #a3a3a3;
            font-size: 16px;
            font-family: "Montserrat 400";
            margin-bottom: 20px;
        }
        #modal__button {
            width: 180px;
            height: 43px;
            color: #ffffff;
            font-size: 14px;
            font-family: "Montserrat 400";
        }
        
    }
}
.no__activ--modal {
    display: none;
}

.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    .hero__h1 {
        margin-top: 70px;
        font-size: 32px;
        color: rgb(73, 131, 255);
        font-family: "Montserrat 600";
    }

}

#cards {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#card1 {
    width: 30%;
    margin-bottom: 70px;
    
    .card__item--images {
        width: 100%;
        border-radius: 10px;
        height: 300px;
    }

    #card__item--h2 {
        color: rgb(25, 25, 25);
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 15px;
        font-weight: 600;
        font-family: "Montserrat 500";
    }

    #card__item--p {
        font-weight: 500;
        color: rgb(36, 35, 35);
        font-size: 20px;
        margin-bottom: 25px;
        font-family: "Montserrat 400";
    }

    #card__item--small {
        color: rgb(101, 119, 224);
        font-size: 20px;
        font-weight: 600;
        font-family: "Montserrat 500";
    }

    #card__item--span {
        display: block;
        margin-top: 15px;
        font-family: "Montserrat 400";
    }

    .card__item--bottom {
        display: flex;
        align-items: center;
    }

    #card__item--img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    #card__item__button {
        width: 190px;
        height: 45px;
        margin-top: 20px;
        color: white;
        background-color: #FF7A00;
        border-radius: 20px;
        border: none;
        outline: none;
        font-family: "Montserrat 400";
    }

}


@media only screen and (max-width:1345px) {
    #card1 {
        width: 40%;
        margin-bottom: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

}

@media only screen and (max-width:970px){
    #card1 {
        width: 90%;
        margin-bottom: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .card__item--images {
            width: 100%;
            border-radius: 10px;
            height: 480px;
        }
    }

}
